site_name: Opus Guard Documentation Center
site_url: https://docs.opusguard.com
extra_css:
  - stylesheets/extra.css
plugins:
  - search
markdown_extensions:
  - attr_list
  - md_in_html
  - def_list
  - tables
  - toc:
      permalink: true
  - admonition
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg
theme:
  name: material
  features:
    - navigation.indexes
    - navigation.prune
    - navigation.tabs
    - navigation.tabs.sticky
    - navigation.top
    - navigation.tracking
    - toc.integrate
    - toc.follow
    - search.suggest
    - search.highlight
    - content.tabs.link
    - header.autohide
  language: en
  logo: /assets/opusguard-logo.png
  favicon: assets/opusguard-favicon.png
  palette:
    # Palette toggle for automatic mode
    - media: "(prefers-color-scheme)"
      toggle:
        icon: material/brightness-auto
        name: Switch to light mode

    # Palette toggle for light mode
    - media: "(prefers-color-scheme: light)"
      primary: custom
      accent: indigo
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode

    # Palette toggle for dark mode
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      primary: indigo
      accent: deep purple
      toggle:
        icon: material/brightness-4
        name: Switch to system preference
extra:
  analytics:
    provider: google
    property: G-1THNJXVN59
nav:
  - Products:
      - Content Retention Manager for Confluence:
          - products/content-retention-manager/introduction.md
          - products/content-retention-manager/quick-start.md
          - products/content-retention-manager/licensing.md
          - products/content-retention-manager/glossary.md
  - Information Governance Knowledge Base:
      - kb/index.md
      - Why Develop a Data Retention Policy: kb/why-develop-a-data-retention-policy.md
      - The Importance of Information Governance: kb/the-importance-of-information-governance.md
      - Data Retention Policies and Management Best Practices: kb/data-retention-policies-and-management-best-practices.md
      - Data Retention Laws and Regulations: kb/data-retention-laws-and-regulations.md
      - How to Build a Data Retention Practice: kb/how-to-build-a-data-retention-practice.md
  - Security and Trust:
      - Security Programs: security/security-programs.md
  - Legal:
      - Privacy Policy: legal/privacy.md
      - EULA: legal/eula.md
